<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Information</title>
</head>

<!-- <form class="row g-3">
    <div class="col-auto">
        <input type="number" size="" class="form-control" id="inputProductId" placeholder="Product ID" min="1" max="2"
            required>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3" style="color: red;" (click)="getData()">Confirm</button>
    </div>
</form> -->

<form (ngSubmit)="getData(id.value)">
    <label for="id">Enter an ID:</label>
    <input type="number" id="id" #id required />
    <button type="submit">Submit</button>
</form>

<div>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @for(priceList of priceList; track priceList.id){
            <tr>
                <th>
                    {{priceList.units}}
                </th>
                <td>
                    {{priceList.price}}
                </td>
            </tr>
            }
            @empty {
            <h3 class="text-green-500">No post</h3>
            }

        </tbody>
    </table>
</div>